<h1>Change Password</h1>

<%= form_for @user do |f| %>
  <div>
    <%= f.label :name %>: <%= @user.name %>
    <%= f.hidden_field :name, autofocus: true %>
  </div>
  <div>
    <%= f.label :email %>: <%= @user.email %>
    <%= f.hidden_field :email %>
  </div>
  <div>
    <%= f.label 'Old Password' %>
    <%= f.password_field :old_password %>
  </div>
  <div>
    <%= f.label 'New Password' %>
    <%= f.password_field :password %>
  </div>
  <div>
    <%= f.label 'Confirm New Password' %>
    <%= f.password_field :password_confirmation %>
  </div>
  <div>
    <%= f.submit "Sign up!" %>
  </div>
<% end %>
