<p id="notice"><%= notice %></p>

<div class="container">
  <div class="row">
    <H1><%= @member.name %> - <%= @member.title %></H1>
  </div>
  <div class="row">
    <% if @member.picture.attached? %>
      <div class="col-4">
        <image style="max-width:400px;width:100%" src="<%=(url_for(@member.picture)) %>" >
      </div>
    <% end %>
    <div class="col">
      <%= @member.description.html_safe %>
    </div>
  </div>
</div>
<br><br>
